* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

:root {
    --bg-color: #1A1A1A;
    --second-bg-color: #31160b;
    --text-color: #fff;
    --main-color: #ff8553;
}
button{
    cursor:pointer;
}

body {
    background-color: black;
}

.nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0% 1% 0% 8%;
    gap: 230px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 2px solid #ff8553;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.nav-links > a{
    color: white;
    text-decoration: none;
    font: 1em sans-serif;
    transition: 0.7s all ease-in-out;

}
.nav-links > a:hover {
    text-shadow: 0 0 1rem #ff8553;
    color: #ff8553;
} 
.nav-links > a:active {
    text-shadow: 0 0 1rem #ff8553;
    color: #ff8553;
} 
.nav-logo{
    color: white;
}
.nav-logo > h2::after{
    content: "Afeez";
    color: #ff8553;
}
.nav-menu{
    color: white;
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.menu{
    display: none;
    position: absolute;
    height: fit-content;
    width: 100%;
    background-color: #31160b;
    border-radius: 10px;
    color: azure;
    text-align: center;
    right: 1px;
    top: 40px;
}

.menu > a{
    padding: 4px 2px;
    display: block;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-left: 120px;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu.popUp{
    display: block;
}

.nav-menu .fa-times {
    display: none;
}

.nav-menu.menu-open .fa-bars {
    display: none;
}

.nav-menu.menu-open .fa-times {
    display: block;
}

@media screen and (max-width:470px) {
    .nav-bar{
        padding: 0% 0% 0% 1%;
        justify-content: center;
        gap: 170px;
    }
    .nav-links{
        display: none;
    }
    .nav-menu{
        display: block;
    }
    .menu{
        width: 500px;
        height: 100vh;
    }

}

        /* Home Section Styling */
        #home {
            height: 100vh;
            background-color: black;
        }

        .container {
            width: 97%;
            padding: 20px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            background-color: black;
        }

        .item {

            width: 100%;
            height: 400px;
        }

        .item:first-child {
            margin-top: 220px;
        }

        .item>p,
        h3,
        h1,
        h4 {
            margin-left: 60px;
            color: white;
            margin-top: 10px;
        }

        .item>h4,
        h3 {
            font-size: 1.9rem;
            font-weight: 700;
        }

        .item>h1 {
            font-size: 3.2rem;
        }
        .item>h1::after{
            content: "Afeez";
            color: #ff8553;
        }

        .item>p {
            margin-top: 20px;
        }

        .bx {
            color: white;
        }

        .item:last-child {
            background-image: url(./Hero\ img.jpeg);
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;

            background-size: cover;
            animation: floatImage 4s ease-in-out infinite;

        }

        .fa-facebook,
        .fa-instagram,
        .fa-linkedin,
        .fa-whatsapp,
        .fa-github,
        .fa-twitter {
            color: #ff8553;
            margin-top: 30px;
            margin-left: 30px;
            border: 7px solid #ff8553;
            border-radius: 100%;
            font-size: 20px;
        }

        .fa-facebook {
            margin-left: 60px;
        }

        .fa-facebook:hover {
            color: black;
            background-color: #ff8553;
        }

        @keyframes floatImage {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-2.4rem);
            }

            100% {
                transform: translateY(0);
            }
        }

        
        /* Home Page Responsiveness */
        @media screen and (max-width:650px) {
            #home{
                height: fit-content;
            }
            .container {
                flex-direction: column;
                height: fit-content;
            }

            .item:first-child {
                transform: translateY(100px);
                margin-top: 0;
            }

            .item:first-child>h4 {
                margin-top: -20px;
                margin-left: -10px;
                font-size: 1.3rem;
            }

            .item:first-child>h1 {
                margin-left: -10px;
                font-size: 1.8rem;
            }

            .item:first-child>h3 {
                margin-left: -10px;
                font-size: 1.4rem;
            }

            .item:first-child>p {
                margin-left: -10px;
                font-size: 0.9rem;
                line-height: 1.8;
            }

            .item:last-child {
                margin-top: -40px;
            }

            .fa-facebook,
            .fa-instagram,
            .fa-linkedin,
            .fa-whatsapp,
            .fa-github,
            .fa-twitter {
                color: #ff8553;
                margin-top: 30px;
                margin-left: 10px;
                border: 7px solid #ff8553;
                border-radius: 100%;
                font-size: 20px;
            }


            #home {
                height: fit-content;
            }

            nav {
                display: none;
            }
        }

        
        /* About section styling  */
        #about {
            height: 100vh;
            background-color: #31160b;
        }

        .container1 {
            width: 97%;
            padding: 20px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .item1 {

            margin-top: 60px;
            width: 100%;
            height: 500px;
        }


        .item1:first-child {
            animation: floatImage 4s ease-in-out infinite;
            animation-duration: 10s;
            margin-left: 63px;
            background-image: url(./Hero\ img.jpeg);
            background-size: cover;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        .item1:last-child>h1 {
            margin-top: 20px;
            font-size: 2.5rem;
        }

        .item1:last-child>h3 {
            margin-top: -4px;
            font-size: 1.4rem;
        }

        .item1:last-child>p {
            line-height: 1.6;
            margin-left: 15px;
            margin-top: 15px;
            color: white;
        }

        .item1:last-child>h1::after {
            content: "Me";
            color: var(--main-color);
        }

        .item1:last-child>button {
            border: 0;
            transform: translate(60px);
            margin-top: 20px;
            padding: 10px 40px 10px 40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border-radius: 30px;
            color: black;
            background-color: var(--main-color);
        }

        .item1:last-child {
            margin-top: 120px;
        }

        
        /* About section respomsiveness */

        @media screen and (max-width:650px) {
            .container1 {
                margin-top: 120px;
                flex-direction: column;
                height: fit-content;
            }
            .item1:first-child {
                margin-left: 0;
            }

            .item1:first-child {
                background-image: url(./images/homeimg.jpeg);
            }

            .item1 {
                height: fit-content;
            }

            .item1:last-child {
                height: fit-content;
                margin-top: 10px;
            }

            .item1:first-child {
                display: none;
            }
            .item1:last-child>p{
                line-height: 2.3;
            }

            .item1:last-child>h1,
            h3 {
                margin-left: -15px;
            }

            .item1:last-child>button {
                margin-left: 40px;
            }

            #about {
                height: fit-content;
            }

            .item1:last-child {
                margin-top: -130px;
            }
        }



        
        /* sevices styling section */

        #services {
            height: 100vh;
            background-color: var(--bg-color);
        }

        #services>h3 {
            padding: 50px 20px 20px 20px;
            text-align: center;
            font-size: 2.5rem;
        }

        #services>h3::after {
            content: "Services";
            color: var(--main-color);
        }

        .service-container{
            width: 97%;
            padding: 20px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }


        .service-item{
            width: 100%;
            height: 400px;
            border-radius: 30px;
            border: 2px solid #ff8553;
        }
        .service-item:hover{
            box-shadow: #ff8553 0px 5px 15px;
        }
        .fa-code, .fa-paintbrush, .fa-chart-simple{
            padding: 4%;
            display: flex;
            justify-content: center;
            font-size: 3rem;
            color: #ff8553;
        }
        .service-item > h1{
            text-align: center;
            padding-left: 3%;
        }
        .service-item > p{
            margin-top: 20px;
            text-align: center;
            font-family: sans-serif;
            line-height: 1.8;
            color: white;
        }
        .service-item > button{
            padding: 10px 40px 10px 40px;
            border-radius: 30px;
            border: 0;
            text-align: center;
            display: flex;
            transform: translateY(40px);
            margin: auto;
            color: var(--bg-color);
            font-weight: 600;
            background-color: #ff8553;
        }

            /* service section responsiveness */
           
              @media screen and (max-width:650px) {
                #services{
                    height: fit-content;
                }
                .service-container{
                    flex-direction: column;
                }
              }
    

        
        /* skills stlying section */

        #skills{

            background-color: #1A1A1A;
        }
         .skill-container {
            width: 97%;
            padding: 20px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .skill-item {
            width: 100%;
            height: 200px;
            margin-top: 30px;
        }
        .skill-item > i:nth-child(1){

            display: flex;
            justify-content: center;
            margin-top: 70px;
            font-size: 5rem;
            width: 100%;
            animation: floatImage 4s ease-in-out infinite;

        }
        .skill-item > i:nth-child(1):hover{
            box-shadow: #ff8553 0px 54px 55px,#ff8553 0px -12px 30px, #ff8553 0px 4px 6px, #ff8553 0px 12px 13px, #ff8553 0px -3px 5px;  
            color: white;
            }
      
        #skills>h3 {
            padding: 50px 20px 20px 20px;
            text-align: center;
            font-size: 2.5rem;
            text-decoration: underline 4px solid #ff8553;
        }
        #skills>h3::after {
            content: "nologies";
            color: var(--main-color);
        }
     
           /* skills section responsiveness */

           @media screen and (max-width:650px) {
            #skills{
                height: fit-content;
            }
            .skill-container {
                flex-direction: column;
                height: fit-content;
            }
            .skill-item > i:nth-child(1){
                font-size: 8rem;
    
            }
            #skills>h3 {
                padding: 50px 20px 20px 20px;
                text-align: center;
                font-size: 2rem;
            }
            .skill-item > i:nth-child(1):hover{
                box-shadow: #ff8553 0px 54px 55px,#ff8553 0px -12px 30px, #ff8553 0px 4px 6px, #ff8553 0px 12px 13px, #ff8553 0px -3px 5px;  
                color: white;
                }
        }
                /* Portfolio styling section */

                #portfoilo{
                    background-image: url(./portfolio.jpg);
                    background-size: cover;
                    background-color:#141413 ;
                    background-blend-mode: soft-light;
                }
                .portfolio-container {
                    width: 97%;
                    padding: 20px;
                    margin: 20px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 40px;
                }
        
                .portfolio-item {
                    width: 27%;
                    height: 350px;
                    box-shadow: 0 0 3rem #383232;
                    overflow-y: hidden;

                }
                
                .portfolio-item:nth-child(1){
                    background-image: url(./portimg1.png);
                    background-size: cover;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
                .portfolio-item:nth-child(2){
                    background-image: url(./portimg2.png);
                    background-size: cover;
                }
                .portfolio-item:nth-child(3){
                    background-image: url(./portimg3.png);
                    background-size: cover;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
                .portfolio-content{
                    height: 100%;
                    width: 100%;
                    transform: translateY(100%);
                    transition: 2s ease-in-out;
                }
                .portfolio-content > .contents{
                    height: 390px;
                    background-color: #ce6d47;
                }
                .contents > h1{
                    text-align: center;
                    padding: 3% 20px 0% 0%;
                }
                .contents > p{
                    margin-top: 20px;
                    text-align: center;
                    color: white;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
                .fa-arrow-up-right-from-square{
                    font-size: 1.4rem;
                   display: flex;
                   justify-content: center;
                   margin-top: 40px;
                   color: white;
                }
                #portfolio > h3{
                    text-align: center;
                    padding: 3% 45;
                }


                .portfolio-content:hover{
                    transition: 2s ease-in-out;
                   transform: translateY(50px);
                }
                .portfolio-item:hover .portfolio-content {
                    transform: translateY(0);
                }
               
                #portfoilo >h3{
                  padding: 50px 20px 20px 20px;
                 text-align: center;
                 font-size: 2.5rem;
                }
                        
                #portfoilo >h3::after {
                    content: "Project";
                    color: var(--main-color);
                }
                                  /* Portfolio section Responsiveness */

                @media screen and (max-width:650px) {
                    #portfoilo{
                        height: fit-content;
                    }
                    #portfoilo > h3{
                        font-size: 1.9rem;
                    }
                    .portfolio-container{
                        flex-direction: column;
                        height: fit-content;
                       
                    }
                    .portfolio-item{
                        width: 100%;
                        border-radius: 10px;
                    }
                }





                
                       /* contact section stlying */

        #contact{

        }

        .contact-container {
            width: 97%;
            padding: 20px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .contact-item {
            width: 100%;
            height: 450px;
            border-radius: 10px;
        }
        #contact >h3{
          padding: 50px 20px 20px 20px;
         text-align: center;
         font-size: 2.5rem;
        }
                
        #contact >h3::after {
            content: "Me!";
            color: var(--main-color);
        }
        .inputbox{
            padding: 2%;
            display: flex;
            justify-content: center;
            gap: 40px;
            text-align: center;
        }
        input{
            background-color: #1A1A1A;
            color:#ff8553;
            padding: 4px 80px 10px 80px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border-radius: 10px;
            outline: 0;
            border: 0;
            border-bottom: 3px solid white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        input::placeholder{
            color:#ff8553;
        }
        textarea::placeholder{
            color:#ff8553;

        }
        textarea{
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            outline: 0;
            border-bottom: 3px solid white;
            background-color: #1A1A1A;
            max-width: 100%;
            width: 50%;
            height: fit-content;
            border-radius: 10px;
            text-align: center;
            color: #ce6d47;
        }
        .inputbox > button{
            padding: 10px 40px 10px 40px;
            border-radius: 30px;
            text-align: center;
            border: 0;
            font-weight: 800;
            color: #000;
            background-color: #ff8553;
        }
        @media screen and (max-width:650px) {
            #contact{
                height: fit-content;
            }
            .inputbox{
                height: fit-content;
                flex-direction: column;
            }
            input{
                background-color: #1A1A1A;
                text-align: center;
                color:#ff8553;
                padding: 10px 90px 10px 90px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                border-radius: 10px;
                outline: 0;
                border: 0;
                border-bottom: 3px solid white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            textarea{
                width: 100%;
            }
            
        }




        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 1% 5%;
            background: var(--second-bg-color);
          }
          .footer-text p {
            font-size: 1.3rem;
            color: var(--text-color);
          }

                  /* Contact section responsiveness */
        
        @media screen and (max-width:650px) {
            .container5 {
                flex-direction: column;
                height: fit-content;
            }
            #contact{
                height: fit-content;
            }
           #contact  >h3{
            

           }
           .box1{
            
            background-color: #31160b;
            font-size: 1rem;
            width: 95%;
            height: 20px;
            border-radius: 30px;
            outline: none;
            margin-top: 10px;
            margin-right: 20px;
            border: 0;
            color: var(--text-color);
            border-bottom: 3px solid white;
            box-shadow: 0 0 3rem #383232;
        }
           form> button{
            margin-top: -140px;
            transform: translate(30px);
           }
           .message-box{
            width: 120%;
            transform: translate(-30px);
            
           }
           footer{
            height: 16px;
           }
           .footer-text p{
             font-size: 0.7rem;
             text-align: center;
             align-items: center;
           }
           form > button{
            position: absolute;
            font-size: 1.2rem;
            bottom: 5%;
            left: 50%;
            transform: translate(-60%, -180%);
            padding: 1% 2%;
            border-radius: 30px;
            margin-top: -98px;
            border: 0;
            font-weight: 600;
            background-color: #ff8553;
            color: #000;
        }
        }



    
     

      